@charset "utf-8";
@import "tailwindcss";
/*@source '../fable_modules/Feliz.DaisyUI.5.2.0/DaisyUI.fs';*/
/*@source '../fable_modules/Feliz.DaisyUI.5.2.0/Modifiers.fs';*/
/*@plugin "daisyui" {*/
/*    themes: light --default, dark --prefersdark;*/
/*}*/

/*
root = styles.create [
                style.display.flex
            ]
            appBar = styles.create [
                style.zIndex (theme.zIndex.drawer + 1)
            ]
            appBarTitle = styles.create [
                style.flexGrow 1
            ]

            content = styles.create [
                style.width 0  // TODO: is there a better way to prevent long code boxes extending past the screen?
                style.flexGrow 1
                style.padding (theme.spacing 3)
            ]

            toolbar = styles.create [
                yield! theme.mixins.toolbar
            ]

            centerPaper = styles.create [
                style.padding (theme.spacing(3, 2))
                style.display.flex
                style.flexDirection.column
                style.justifyContent.center
            ]

            playerCard = styles.create [
                style.padding (theme.spacing(1))
                style.display.flex
                style.flexDirection.column
                style.justifyContent.center
                style.minHeight 220
            ]

            loginPaper = styles.create [
                style.marginTop (theme.spacing 8)
                style.display.flex
                style.flexDirection.column
                style.alignItems.center
                style.padding 20
              ]

            loginAvatar = styles.create [
                style.margin (theme.spacing 1)
                style.backgroundColor theme.palette.primary.main
              ]

            loginForm = styles.create [
                style.width (length.perc 100)  // Allegedly fixes an IE 11 issue
                style.marginTop (theme.spacing 1)
              ]

            loginSubmit = styles.create [
                style.margin (theme.spacing(3, 0, 2))
              ]


 */
.poker-root {
    display: flex;
}
.poker-appBar {
    z-index: 1100; /* theme.zIndex.drawer + 1 */
}

.poker-appBarTitle {
    flex-grow: 1;
}
.poker-content {
    width: 0; /* TODO: is there a better way to prevent long code boxes extending past the screen? */
    flex-grow: 1;
    padding: 24px; /* theme.spacing(3) */
}
.poker-toolbar {
    padding-top: 24px; /* theme.mixins.toolbar */
    padding-bottom: 24px; /* theme.mixins.toolbar */
}
.poker-centerPaper {
    padding: 24px 16px; /* theme.spacing(3, 2) */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poker-playerCard {
    padding: 8px; /* theme.spacing(1) */
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
}
.poker-loginPaper {
    margin-top: 64px; /* theme.spacing(8) */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.poker-loginAvatar {
    margin: 8px; /* theme.spacing(1) */
    background-color: #3f51b5; /* theme.palette.primary.main */
}
.poker-loginForm {
    width: 100%; /* length.perc(100) Allegedly fixes an IE 11 issue */
    margin-top: 8px; /* theme.spacing(1) */
}
.poker-loginSubmit {
    margin: 24px 0 16px; /* theme.spacing(3, 0, 2) */
}


/**
 * Styles for CSS Playing Cards
 *
 * @author   Anika Henke <anika@selfthinker.org>
 * @license  CC BY-SA [http://creativecommons.org/licenses/by-sa/3.0]
 * @version  2011-06-14
 * @link     http://selfthinker.github.com/CSS-Playing-Cards/
 */

/* card itself
********************************************************************/
.card {
    width: 4.0em;
    height: 5.6em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}






